<main class="resume-canvas" *ngFor="let page of resume.pages; let i = index">
  <div class="grid-parent">
    <div class="left-info-header uppercase" *ngIf="i == 0">
      <div class="img"><img [src]="resume.img" /></div>
    </div>
    <div class="right-info-header uppercase" *ngIf="i == 0">
      <div class="name">{{ resume.name }}</div>
      <div class="position">{{ resume.positionTitle }}</div>
    </div>
    <div
      class="left-info page{{ i + 1 }} {{ page.lstyle }}"
      *ngIf="page.leftInfo"
    >
      <app-section [information]="page.leftInfo"></app-section>
    </div>
    <div
      class="right-info page{{ i + 1 }} {{ page.rstyle }}"
      *ngIf="page.rightInfo"
    >
      <app-section [information]="page.rightInfo"></app-section>
    </div>
  </div>
</main>
