/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

$background-color: rgb(250, 255, 255);
$white-color: rgb(255, 255, 255);
$box-shadow-color: rgba(0, 0, 0, 0.7);
$font-color: #545452;

body {
  background: $background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: $font-color;
  a:link,
  a:visited {
    text-decoration: none;
  }
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

@media print {
  body {
    color-adjust: exact;
    -webkit-print-color-adjust: economy;
    -webkit-print-color-adjust: exact;
  }
}

table {
  width: 100%;
  td:first-child {
    font-weight: bold;
    width: 20%;
  }
  td {
    padding: 5pt;
    border: 1px solid;
    width: 80%;
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      width: 90%;
      margin: 0 auto;
    }
    li {
      list-style-type: '- ';
      padding: 0 5pt;
    }
  }
}

@page {
  size: 210mm 297mm;
  /* Chrome sets own margins, we change these printer settings */
  margin: 27mm 16mm 27mm 16mm;
}

@media print {
  html,
  body {
    margin: 0;
  }

  @page {
    margin: -1em;
    padding: 0;
    width: 100%;
  }
}

.resume-canvas {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.3in;
  width: 8.5in;
  // height: 12in;
  background-color: $white-color;
  box-shadow: 0 3px 8px -3px $box-shadow-color;
  page-break-after: always;
}

.grid-parent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 255px;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: $font-color;
}

.left-info-header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    width: 60%;
    img {
      max-width: 100%;
      border-radius: 50%;
      filter: grayscale(100%);
    }
  }
}
.right-info-header {
  grid-area: 1/3/2/6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 1pt;
  .name {
    font-size: 25pt;
  }
}

.left-info {
  grid-area: 2 / 1 / 6 / 3;
  display: flex;
  flex-direction: column;
  padding-right: 10pt;
}

.left-info.fh {
  grid-area: 1 / 1 / 6 / 3;
  margin-top: calc(297mm / 15);
}

.right-info {
  grid-area: 2 / 3 / 6 / 6;
  display: flex;
  flex-direction: column;
  padding-left: 0pt;
}

.right-info.fh {
  grid-area: 1 / 3 / 6 / 6;
  margin-top: calc(297mm / 15);
}

.right-info.fhw {
  grid-area: 1 / 1 / 6 / 6;
  margin-top: calc(297mm / 15);
}

.right-info.fw {
  grid-area: 2 / 1 / 6 / 6;
}
